:root {
    --content-width: 1000px;
    --homepage-width: 1050px;
}

// * {
//     margin: 0;
//     padding: 0;
// }
.page {
    transform: none !important;
}

.theme-container .navbar .logo {
    border-radius: 0 !important;
}
